.login-box2{
  background-color:#eceeef;
  width: 390px;
  margin: 8% auto;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
}
.login-logo2{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}
