
<div class="login-box2">
  <div class="login-box">
    <div class=row>
      <div class="login-logo2">
        <img src="assets/images/user.png" style="background: #5c88ab"  class="img-circle" alt="Usuario">
    </div>
    <div class="row login-logo">
        <a><b>Cond </b >1.0</a>
    </div>
  </div>
    <div class="card">
      <div class="card-body login-card-body">
          <form [formGroup]="form">
          <div class="form-group has-feedback" [class.has-error]="!form.get('user').valid && form.get('user').touched">
            <input type="text" class="form-control"  id="user" name="user" formControlName="user"  placeholder="Usuário" autofocus>
            <span class="fa fa-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback" [class.has-error]="!form.get('password').valid && form.get('password').touched">
            <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Senha">
            <span class="fa fa-lock form-control-feedback"></span>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!form.valid" (click)="login()" >Entrar</button>
          </div>
        </form>
      </div>
  </div>
  </div>
</div>
