    <section class="content-header" style="margin-bottom: 10px;">
      <ol class="breadcrumb">
          <li>
              <button class="btn btn-primary" (click)="create()"><i class="fa fa-plus"></i> <span> Novo</span></button>
          </li>
        </ol>
      <h1>
        Moradores
        <small>Pesquisa</small>
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table datatable [dtOptions]="dtOptions"  id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Torre</th>
                  <th>Apto</th>
                  <th>Nome</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Misc</td>
                  <td>Links</td>
                  <td>Text only</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Misc</td>
                  <td>Lynx</td>
                  <td>Text only</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Misc</td>
                  <td>IE Mobile</td>
                  <td>Windows Mobile 6</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Misc</td>
                  <td>PSP browser</td>
                  <td>PSP</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Other browsers</td>
                  <td>All others</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Other browsers</td>
                  <td>All others</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>kkkk</td>
                  <td>saa</td>
                  <td>x</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>zzzs</td>
                  <td>fdafsaf</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>fdasf</td>
                  <td>aaa</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>fdajfkafl</td>
                  <td>zzz</td>
                  <td>0</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>agdfafdsaf</td>
                    <td>kkj</td>
                    <td>9</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Torre</th>
                    <th>Apto</th>
                    <th>Nome</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
