<section class="content-header" style="margin-bottom: 10px;">
    <ol class="breadcrumb">
        <li>
            <button class="btn btn-primary" (click)="list()"><i class="fa  fa-arrow-left"></i> <span> Voltar</span></button>
        </li>
      </ol>
    <h1>
      Moradores
      <small>Formulário</small>
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body">
            <!-- <div class="row"> -->
              <div class="form-group col-md-6">
                  <label for="tower">Torre</label>
                  <select class="form-control" id="tower" required>
                      <option value="">Selecione a torre</option>
                      <option value="1">Capri</option>
                      <option value="2">Milão</option>
                      <option value="3">Napoli</option>
                      <option value="4">Turim</option>
                    </select>
              </div>
              <div class="form-group col-md-2">
                  <label for="apart">Apartamento</label>
                  <input type="text" OnlyNumber="true" class="form-control" id="apart" placeholder="Infome o número" required >
              </div>
            <!-- </div>
            <div class="row"> -->
              <div class="form-group col-md-6">
                  <label for="name">Nome</label>
                  <input type="text" class="form-control" id="name" placeholder="Infome o nome" required >
              </div>
              <div class="form-group col-md-2">
                  <label for="telegram">Telegram</label>
                  <input OnlyNumber="true" type="text" class="form-control" id="telegram" placeholder="Infome o código" required >
              </div>
          <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
